{% extends 'base.html' %}

{% block content %}
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <form class="border p-3 rounded-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded" method="POST" action="{% url 'login_view' %}">
      {% csrf_token %}
    <h2 class="mb-4">Login</h2>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone number</label>
      <input type="text" class="form-control" id="phone" name="phone">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
{% block css %}
<style>
    /* custom CSS can be added here */
    body {
        height: 100%;
        margin: 0;
    }
</style>
{% endblock %}
